.app {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  color: #fff;
  background: #000;
}

.app-log {
  position: absolute;
  width: 30%;
  min-width: 348px;
  right: 0;
  top: 0;
  margin: 0.5em;
  backdrop-filter: blur(1px) brightness(60%);
  border-radius: 12px;
  user-select: none;
  pointer-events: none;
}

#log {
  font-size: 0.6em;
  padding: 0 1em;
  list-style: none;
}

#log > li {
  margin-bottom: 0.5em;
}
